<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%t]-[%p] %m%n" />
		</layout>
	</appender>

	<appender name="sizeAppender"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="1KB" />
		<param name="File" value="logs/mms.log" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%t]-[%p] %m%n	" />				   
		</layout>
	</appender>
	<appender name="dailyAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/mms.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%t]-[%p] %m%n	" />
		</layout>
	</appender>
	
	<!--  连接错误日志，这个日志理论上来说为空  -->
	<appender name="connErrAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/conn/err.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
	<appender name="discardAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/discard/discard.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
	<appender name="sessionAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/session/session.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
	
	<appender name="resultAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/result/result.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
	<appender name="insertSqlAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/sql/insert.sql" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	<appender name="updateSqlAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/sql/update.sql" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
	<!-- logger -->
	<!-- 不打印Hibernate框架的调试日志 -->
	<logger name="org.hibernate">
    	<level value="ERROR" />
    </logger>
    
    <logger name="org.hibernate.SQL">
    	<level value="DEBUG" />
    </logger>
    
    <logger name="org.apache.axis">
    	<level value="ERROR" />
    </logger>
    <logger name="org.apache.axis.transport.http.HTTPSender">
    	<level value="INFO" />
    </logger>
	<!-- ConnectionPool使用的错误日志 -->
	<logger name="connErr" additivity="false">
		<level value="INFO" />
		<appender-ref ref="connErrAppender" />
	</logger>
	
	<!-- 保存重发三次后失败丢弃的包 -->
	<logger name="discard" additivity="false">
		<level value="INFO" />
		<appender-ref ref="discardAppender" />
	</logger>
	
	<!-- 保存错误的session信息 -->
	<logger name="session" additivity="false">
		<level value="INFO" />
		<appender-ref ref="sessionAppender" />
	</logger>
	

	<!-- 保存失败写文件日志 -->
	<logger name="result" additivity="false">
		<level value="INFO" />
		<appender-ref ref="resultAppender" />
	</logger>
	
	<!-- 在插入失败的时候保存数据库操作的sql记录 -->
	<logger name="insertSql" additivity="false">
		<level value="INFO" />
		<appender-ref ref="insertSqlAppender" />
	</logger>
	<logger name="updateSql" additivity="false">
		<level value="INFO" />
		<appender-ref ref="updateSqlAppender" />
	</logger>
	
	<!-- for all other loggers log only debug and above log messages -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="dailyAppender" />
	</root>

</log4j:configuration>

